
@media screen and (max-width: 800px) {

    .options {
        gap: 3rem;
    }

    .score-card {
        gap: 4rem;
        padding: 4rem 6rem;
    }
}

@media screen and (max-width: 600px) {
    .options {
        gap: 2rem;
    }

    .options img {
        width: 12rem;
    }

    .score-card {
        gap: 3rem;
        padding: 4rem 1.5rem;
    }

    .score-card p {
        font-size: 4rem;
    }

    #jogada-jogador-img {
        width: 11rem;
    }

    #resultado-partida {
        width: 19rem;
    }

    #jogada-maquina-img {
        width: 11rem;
        margin: auto;
    }
}

@media screen and (max-width: 510px) {

    .options__item {
        padding: 0.8rem;
    }

    .options img {
        width: 10rem;
        margin: auto;
    }

    #jogada-jogador-img {
        width: 10rem;
    }

    #resultado-partida {
        width: 14rem;
    }

    #jogada-maquina-img {
        width: 10rem;
        margin: auto;
    }

    .text__button {
        width: 31rem;
    }

}

@media screen and (max-width: 445px) {
    .home__title {
        font-size: 8rem;
    }

    .options img {
        width: 8.5rem;
    }

    .options__text {
        font-size: 3rem;
    }

    .home__subtitle {
        font-size: 4rem;
    }

    #jogada-jogador-img {
        width: 8.5rem;
    }

    .score-card p {
        font-size: 3rem;
    }

    #resultado-partida {
        width: 11rem;
    }

    #jogada-maquina-img {
        width: 8.5rem;
    }

    .text__button {
        width: 26rem;
    }

    .text__button {
        padding: 1.2rem 0;
        font-size: 3.3rem;
    }
}

@media screen and (max-width: 370px) {
    .score-card {
        gap: 2rem;
        padding: 4rem 1rem;
    }

    #resultado-partida {
        width: 10rem;
    }
}